ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-position: inside;
}

main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  width: 50%;
  border-radius: 10px;
  align-items: center;
  gap: 10px;
  justify-content: center;
  height: 300px;
  
}

.logo {
  width: 25px;
}

.header {
  display: flex;
  justify-content: center;
  
  width: 100%;
}

.header-container {
  align-items: center;
  margin-bottom: 3%;
  border-bottom: 1px solid black;
  width: 100%;
}

.footer-container {
  align-items: center;
  width: 100%;
}

.footer {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  width: 100%;
  margin-top: 3%;
  position: fixed;
  bottom: 0;
}

.chat-window{
  border: solid 2px black;
  border-radius: 10px;
  height: 50vh;
  width: 80%;
}

.text-window {
  border: 1px solid lightblue;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  word-wrap: break-word;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.text-sender{
  font-weight: bold;
}

.input-button {
  background-color: black;
  border-radius: 5px;
  padding: 5px;
  color: white;
  border: solid 2px black;
  transition: color, background-color;
}

.input-button:hover {
  background-color: white;
  color: black;
}

.input-text {
  border-radius:  10px;
  border-color: black;
  padding: 5px;
  width: 50%;
  height: 40px;
  text-align: center;
}

.button-window {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.input-window{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}